/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* Apply Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  body {
    /* Apply light mode background color by default */
    @apply bg-light-bg text-light-text;
  }

  .dark body {
    @apply bg-dark-bg text-dark-text;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 9999px; /* rounded-full */
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
}
